.projectBox {
    border-radius: 1rem;
    border: 1px solid #ffffff25;
    margin-top: 1.5rem;
    padding: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    cursor: url(assets/cursor/link.png), pointer;
    transition: background 0.3s ease;
}

.projectBox:hover {
    background: rgba(255, 255, 255, 0.05);
}

.projectCenter {
    flex: 1;
}

.projectCenter h1, 
.projectCenter p {
    padding: 0; 
    margin: 0;
}

.projectCenter h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.projectBox img {
    width: 60px;
    height: auto;
    margin-left: 1.5rem;
    object-fit: contain;
}