#containerProjects {
    /* padding-top: 35px;
    margin-top: 60px; */
    height: auto;
    width: 90%;   
    max-width: 1039px; 
    background: rgba(50, 50, 50, 0.9);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-color: rgba(0, 0, 0, 0.482);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#containerProjects p {
    font-size: 22px;
    font-weight: bold;
    padding-left: 20px;
}

#containerProjects h1 {
    text-align: left; 
    font-size: 50px; 
    font-weight: bold; 
    font-family: 'Open Sans', sans-serif;
}

#containerProjects h2 {
    margin-top: 20px;
    font-size: 24px;
    padding-left: 20px;
}
